.section {
    display: flex;
    justify-self: center;
    align-items: center;
}

.inner {
    position: relative;
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    width: min-content;
    margin: auto;
    padding: 20px;
    max-width: 100%;
}

.title {
    margin-bottom: 20px;
}
